@font-face {
  font-family: "iconfont"; /* Project id 3519027 */
  src: url('iconfont.woff2?t=1657715278634') format('woff2'),
       url('iconfont.woff?t=1657715278634') format('woff'),
       url('iconfont.ttf?t=1657715278634') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiajiantou:before {
  content: "\e602";
}

.icon-liebiao2:before {
  content: "\e600";
}

.icon-dianshiju:before {
  content: "\e604";
}

.icon-dingdan:before {
  content: "\e737";
}

.icon-xiangyou1:before {
  content: "\e775";
}

.icon-fangdajing:before {
  content: "\e617";
}

.icon-shouye:before {
  content: "\e615";
}

.icon-wodedaijinquan:before {
  content: "\e668";
}

.icon-bofang:before {
  content: "\e624";
}

.icon-paishipin:before {
  content: "\e641";
}

.icon-dianzan:before {
  content: "\ec7f";
}

.icon-pinglun:before {
  content: "\e601";
}

.icon-dianying:before {
  content: "\e8ae";
}

.icon-shouye1:before {
  content: "\e8c6";
}

.icon-zhuanfa:before {
  content: "\e8a1";
}

